*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
background: #aa4b6b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: sans-serif;
    color: whitesmoke;
}
.location,.temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
}
.degree-section h2{
    font-size: 40px;
}

.search input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #b65dc2;
  
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

 .search-box input:focus {
  background-color: rgba(255, 255, 255, 0.6);
} 
